<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PtvApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F8B9CDB1C3BCC6500F4797D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8B9CF21C3BCC6600F4797D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8B9CFD1C3BCC6600F4797D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
